:root {
    --text-primary: #1A1919;
    --text-secondary: #BEC5CC;
    --text-link: #316FEA;
    --text-error: #FF4D4F;

    --button-loader: #FFFFFF;
    --button-loader-top: #316FEA;

    --button-disabled-background: #F5F7F9;
    --button-disabled-text: #A1ABB5;
    --button-disabled-border: #D3D8DC;

    --button-default-background: #FFFFFF;
    --button-default-text: #060E1E;
    --button-default-border: #D3D8DC;

    --button-default-hover-background: #F5F7F9;
    --button-default-active-background: #E8EBED;

    --button-primary-background: #316FEA;
    --button-primary-text: #FFFFFF;

    --button-primary-hover-background: #1A5BFF;
    --button-primary-active-background: #0D3BFF;

    --button-secondary-background: #FFFFFF;
    --button-secondary-text: #060E1E;
    --button-secondary-border: #D3D8DC;

    --button-secondary-hover-background: #F5F7F9;
    --button-secondary-active-background: #E8EBED;

    --text-field-primary-background: #FFFFFF;
    --text-field-primary-placeholder: #A1ABB5;
    --text-field-primary-text: var(--text-primary);
    --text-field-primary-border: #D3D8DC;
}
