.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 48px;
    min-height: 48px;
    max-height: 48px;
    border-radius: 8px;
    padding: 13px 0;
    font-size: 16px;
    line-height: 22px;
    outline: none;
    border: none;
    cursor: pointer;
}

.container.default, .container.default:hover, .container.default:active, .container.default:focus {
    background-color: var(--button-default-background);
    color: var(--button-default-text);
    border: 1px solid var(--button-default-border);
}

.container.primary, .container.primary:hover, .container.primary:active, .container.primary:focus {
    background-color: var(--button-primary-background);
    color: var(--button-primary-text);
}

.container.secondary, .container.secondary:hover, .container.secondary:active, .container.secondary:focus {
    background-color: var(--button-secondary-backgroudn);
    color: var(--button-secondary-text);
    border: 1px solid var(--button-secondary-border)
}


.container.disabled, .container.disabled:hover, .container.disabled:active, .container.disabled:focus {
    background-color: var(--button-disabled-background);
    color: var(--button-disabled-text);
    border: 1px solid var(--button-disabled-border);
    cursor: not-allowed;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 24px;
}

.loader::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid var(--button-loader-top);
    border-top-color: var(--button-loader);
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
